<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="ResourceTrackerFile" value="DXC MPP Urenco Resource tracker 03062020.xlsx" />
    <add key="LabourFile" value="URENCO European Labour Report Wks 09-22 09062020 Edited.xlsx" />
    <add key="LabourFile2" value="Labour Data FY21.xlsx"/>
    <add key="LabourWorkSheet" value="Non-Billable Data" />
    <add key="LabourWorkSheet2" value="Data" />
    <add key="OutputFileName" value="extractedData.xlsx" />

  </appSettings>
</configuration>