<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="LabourFile" value="G:\Users\Dominic\Documents\#Urenco\CSharp\URENCO European Labour Report Wks 09-22 09062020 Edited.xlsx"/>
    <add key="ResourceTrackerFile" value="G:\Users\Dominic\Documents\#Urenco\CSharp\DXC MPP Urenco Resource tracker 03062020.xlsx"/>
    <add key="OutputDirectory" value="G:\Users\Dominic\Documents\#Urenco\CSharp\"/>
    <add key="LabourWorkSheet" value="Non-Billable Data"/>
  </appSettings>
</configuration>